### Web Scraping from FBREF

In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

### Scrape with BeautifulSoup

In [2]:
resp = requests.get('https://fbref.com/en/comps/9/2022-2023/stats/2022-2023-Premier-League-Stats#all_stats_standard')
resp.status_code

200

In [14]:
soup = BeautifulSoup(resp.text, 'html.parser')

In [38]:
rows = []
for child in soup.find_all('tbody')[0].children:
    row = []
    for td in child:
        try:
            row.append(td.text.replace('\n', ''))
        except:
            continue
    if len(row) > 0:
        rows.append(row)

### Scrape with Panda

In [30]:
df = pd.read_html('https://fbref.com/en/comps/9/2022-2023/stats/2022-2023-Premier-League-Stats#all_stats_standard', header=1)

In [31]:
epl = df[0]

epl.to_csv("../data/epl-22-23", sep=',', index=False, encoding='utf-8')
epl

,Squad,# Pl,Age,Poss,MP,Starts,Min,90s,Gls,Ast,...,Gls.1,Ast.1,G+A.1,G-PK.1,G+A-PK,xG.1,xAG.1,xG+xAG,npxG.1,npxG+xAG.1
0,Arsenal,26,24.7,59.3,38,418,3420,38.0,84,64,...,2.21,1.68,3.89,2.13,3.82,1.89,1.41,3.31,1.82,3.23
1,Aston Villa,26,27.0,49.3,38,418,3420,38.0,49,35,...,1.29,0.92,2.21,1.21,2.13,1.32,1.02,2.34,1.24,2.26
2,Bournemouth,31,26.3,40.4,38,418,3420,38.0,37,24,...,0.97,0.63,1.61,0.97,1.61,1.02,0.75,1.76,1.02,1.76
3,Brentford,25,26.2,43.8,38,418,3420,38.0,56,36,...,1.47,0.95,2.42,1.29,2.24,1.49,1.02,2.51,1.33,2.35
4,Brighton,29,26.3,60.2,38,418,3420,38.0,68,46,...,1.79,1.21,3.00,1.63,2.84,1.93,1.37,3.30,1.81,3.19
5,Chelsea,32,26.3,58.7,38,418,3420,38.0,37,27,...,0.97,0.71,1.68,0.89,1.61,1.30,1.02,2.32,1.24,2.26
6,Crystal Palace,26,26.7,46.3,38,418,3420,38.0,38,29,...,1.00,0.76,1.76,0.97,1.74,1.03,0.76,1.80,0.97,1.73
7,Everton,28,26.6,42.8,38,418,3420,38.0,32,24,...,0.84,0.63,1.47,0.76,1.39,1.19,0.85,2.04,1.13,1.98
8,Fulham,29,28.2,48.8,38,418,3420,38.0,52,33,...,1.37,0.87,2.24,1.24,2.11,1.22,0.75,1.97,1.03,1.78
9,Leeds United,29,25.3,47.0,38,418,3420,38.0,45,31,...,1.18,0.82,2.00,1.16,1.97,1.25,0.84,2.09,1.18,2.02
10,Leicester City,28,26.1,47.7,38,418,3420,38.0,49,36,...,1.29,0.95,2.24,1.21,2.16,1.33,1.01,2.34,1.20,2.22
11,Liverpool,28,27.4,60.8,38,418,3420,38.0,71,58,...,1.87,1.53,3.39,1.82,3.34,1.91,1.49,3.40,1.83,3.32
12,Manchester City,24,27.2,64.7,38,418,3420,38.0,92,69,...,2.42,1.82,4.24,2.18,4.00,2.07,1.52,3.59,1.87,3.39
13,Manchester Utd,26,26.9,53.7,38,418,3420,38.0,56,42,...,1.47,1.11,2.58,1.39,2.50,1.78,1.37,3.15,1.72,3.09
14,Newcastle Utd,27,27.3,52.3,38,418,3420,38.0,64,42,...,1.68,1.11,2.79,1.53,2.63,1.89,1.37,3.26,1.77,3.14
15,Nott'ham Forest,33,26.5,37.6,38,418,3420,38.0,36,22,...,0.95,0.58,1.53,0.87,1.45,1.03,0.69,1.73,0.91,1.60
16,Southampton,36,24.7,44.5,38,418,3420,38.0,36,25,...,0.95,0.66,1.61,0.89,1.55,0.99,0.74,1.73,0.91,1.65
17,Tottenham,29,27.6,50.0,38,418,3420,38.0,68,46,...,1.79,1.21,3.00,1.66,2.87,1.50,1.13,2.64,1.38,2.51
18,West Ham,25,28.2,42.1,38,418,3420,38.0,41,25,...,1.08,0.66,1.74,0.92,1.58,1.29,0.86,2.15,1.15,2.01
19,Wolves,32,26.7,49.9,38,418,3420,38.0,28,12,...,0.74,0.32,1.05,0.66,0.97,0.97,0.67,1.64,0.91,1.58